body {
  background: #001B2E;
  margin: 2vh;
  max-height: 100vh;
}

.main {
  background: #294C60;
  display: flex;                        /* .main is the lowest flex container for the entire page */
  flex-direction: column;
  min-height: 96vh;
  justify-content: space-around;
}

[class^="container-"] {                 /* all flex containers within .main */
  display: flex;
  font-size: 3rem;
  text-align: center;
}

.a, .b, .c, .d, .e, .f, .g, .h {
  background: #ADB6C4;
  margin: 1vh;
}

/* --------------------------------------------------------------- */
/* desktop layout according to wireframe */

.container-1, .a {
  flex-grow: 1;
}

.container-2 {
  flex-grow: 3;
}

.container-2a {
  flex-direction: column;
  flex-grow: 3;
}

.container-2aa, .container-2ab, .b, .c, .d, .e, .f, .g {
  flex-grow: 1;
}

.h {
  flex-grow: 1;
}

/* --------------------------------------------------------------- */
/* mobile layout according to wireframe */

@media screen and (max-width: 600px) {
  .container-1 {
    flex-grow: 1;
  }
  .container-2 {
    flex-direction: column;
    flex-grow: 10;
  }
  .h{
    flex-grow: 20;
  }
}


