body {
  background: #001B2E;           
  margin: 2vh;                      
  max-height: 100vh;                /* removes vertical scrolling for clean look */
}

.main {
  background: #294C60;
  display: flex;                    /* lowest-level flexbox; includes all content divs */
  flex-direction: column;           
  min-height: 96vh;
  justify-content: space-around;
}

.a, .b, .c {                        /* for consistent style */
  background: #ADB6C4;
  margin: 1vh;
}

[class^="container-"] {
  display: flex;
  font-size: 3rem;
  text-align: center;
}

.container-1 {
  flex-grow: 2;
  justify-content: center;
}

.a {
  width: 100%;
}

.container-2 {
  flex-grow: 5;
}

.b {
  flex-grow: 5
}

.c {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .container-1 {
    flex-grow: 1;
  }
  .container-2 {
    flex-direction: column;
    flex-grow: 8;
  }
}
